<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>r/coys Sentiment Analysis</title>
</head>
<body>
    <h1>Comments by u/{{name}}</h1>
    <table border="1">
        <tr>
            <th>
                Comment Text
            </th>
            <th>
                Sentiment Classification
            </th>
            <th>
                Sentiment Score
            </th>
        </tr>
        {% for comment in comments %}
        <tr>
            <td>
                {{ comment.body }}
            </td>
            <td>
                {{ comment.sentimentClass }}
            </td>
            <td>
                {{ comment.sentimentScore }}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>